body{
    background-color: #299688;
    text-align: center;
}
h1{
    color: #FCEA3D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 65px;
}
img{  
    margin: 5px;
    border: 10px solid #fff;
}